<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qyl.shop.dao.UserPasswordMapper">
    <resultMap id="UserPasswordMap" type="com.qyl.shop.pojo.UserPassword">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="encrypt_password" jdbcType="VARCHAR" property="encryptPassword" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
    </resultMap>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from shop.user_password
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="UserPassword">
        insert into shop.user_password
        (id, encrypt_password, user_id)
        values (#{id,jdbcType=INTEGER}, #{encrypt_password,jdbcType=VARCHAR}, #{user_id,jdbcType=INTEGER})
    </insert>

    <insert id="insertSelective" parameterType="UserPassword">
        insert into user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="encryptPassword != null">
                encrypt_password,
            </if>
            <if test="userId != null">
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="encryptPassword != null">
                #{encryptPassword,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="getPasswordByUserId" parameterType="java.lang.Integer" resultMap="UserPasswordMap">
        select *
        from shop.user_password
        where user_id = #{userId,jdbcType=INTEGER}
    </select>

    <select id="getPasswordById" parameterType="java.lang.Integer" resultMap="UserPasswordMap">
        select *
        from shop.user_password
        where id = #{id,jdbcType=INTEGER}
    </select>

    <update id="update" parameterType="UserPassword">
        update shop.user_password
        set encrypt_password = #{encryptPassword,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>